  <div class="w3-container w3-responsive">
      <table class="w3-table">
          <tr>
            <th>Company</th>
            <th>Value</th>
            <th>Flex</th>
          </tr>
          <tr class="w3-white">
            <td>Bitcoin</td>
            <td>$7,039.00</td>
            <td>(-0.49%)</td>
             <td>
                <a href="/currencies/bitcoin/#charts"><img class="sparkline" alt="sparkline" src="https://files.coinmarketcap.com/generated/sparklines/1.png"></a>
             </td>
          </tr>
          <tr>
            <td>Ethereum</td>
            <td>$263.89</td>
            <td>(-23%)</td>
           <td>
             <a href="/currencies/ethereum/#charts"><img class="sparkline" alt="sparkline" src="https://files.coinmarketcap.com/generated/sparklines/1027.png"></a>
            </td> 
          </tr>
  
          <tr class="w3-white">
            <td>LTC</td>
            <td>$62.51</td>
            <td>1.26%</td>
            <td>
                <a href="/currencies/litecoin/#charts"><img class="sparkline" alt="sparkline" src="https://files.coinmarketcap.com/generated/sparklines/2.png"></a>
            </td>
          </tr>
        </table>
  </div>