<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
            <div class="panel-heading top-bar">
                <!-- <div  class="col-md-8 col-xs-8">
                     <h3 class="panel-title">
                       <span class="glyphicon glyphicon-comment"></span> Chat - {{currentUser.firstName}</h3>
                </div> -->
                <div class="col-md-4 col-xs-4" style="text-align: right;">
                    <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                </div>
            </div>
    <div class=w3-center>
        <b><h1 class="w3-xxxlarge">Cryptocurrencies</h1></b> 
          <img style="-webkit-user-select: none;background-position: 0px 0px, 0px 0px;background-size: 0px 0px;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);" src="https://d13yacurqjgara.cloudfront.net/users/37530/screenshots/2937858/drib_blink_bot.gif" width="220" height="150">
         </div>
        

            
<!-- Navigation Bar -->

        <div class="w3-bar w3-theme">
          <a href="#" class="w3-bar-item w3-button w3-padding-16">Home</a>
          <a routerLink="/user-profile" routerLinkActive="active"class="w3-bar-item w3-button w3-padding-16">User Profile</a>
          <a routerLink="/current-cryptos" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-16">Cryptocurrencies Values</a>
          <a routerLink="/contact" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-16">Contact</a>
          <a routerLink="/chatbot" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-16" onclick="document.getElementById('chatWindow').style.display='block'">Chatbot</a>
          <a routerLink="/settings" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-16">Settings</a>
          <a class="w3-bar-item w3-button w3-right" [routerLink]="['/login']">Logout</a>
          <router-outlet></router-outlet>
        </div>


<!-- <a class="fa fa-bars w3-xlarge w3-button w3-theme" onclick="document.getElementById('chatID').style.display='block'" ></a> -->
<div id="chatWindow" class="w3-modal w3-card-4 w3-container" style="padding-top: 100px">
    <div class="w3-modal-content w3-blue-gray w3-card-2 w3-animate-top"  style="width: 300px; height: 320px;">
        <header  class="w3-container w3-theme-l1 ">
            <span onclick="document.getElementById('chatWindow').style.display='none'"
            class="w3-button w3-display-topright">×</span>
    </header>
    <hr>
<div  class="w3-center w3-container login">
<div class="chat-window-container">
  <div class="chat-window">
    <div class="panel-container">
      <div class="panel panel-default">
        <div class="panel-heading top-bar">
          <div class="panel-title-container">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-comment"></span>
              Chat -
              <br>
              Hello, my name is {{currentUser.name}}. 
            </h3>
          </div>
          <div class="panel-buttons-container">
            <!-- you could put minimize or close buttons here -->
          </div>
        </div>
<!-- Messages -->
        <div class="panel-body msg-container-base">
          <chat-message
          *ngFor="let message of messages | async"
          [message]="message">
        </chat-message>
        
      </div>
      <hr>
<!-- Input box -->
<footer>
    <div class="panel-footer">
      <div class="input-group">
        <input type="text"
        class="chat-input"
        placeholder="Write your message here..."
        (keydown.enter)="onEnter($event)"
        [(ngModel)]="draftMessage.text" />
        <span class="input-group-btn">
          <button class="w3-button btn-chat"
          (click)="onEnter($event)"
          >Send</button>
        </span>
      </div>
    </div>
  </footer>
    </div>
  </div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
    console.log('Hello')
</script>
