
<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

 <div class="w3-padding-10">

         
            <button class="w3-button" (click) = "changePhoto()"> Change Photo </button>
            <img  width="100px" src={{imgSrc}}>

    <h1>{{currentUser.username}}</h1>
    <input placeholder="Username" [(ngModel)]="currentUser.username"/> 
    <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
    <input placeholder="First Name" [(ngModel)]="currentUser.firstName"/> <input placeholder="Last Name" [(ngModel)]="currentUser.lastName"/>
    <h3>{{currentUser.city}}  {{currentUser.state}}</h3>
    <input placeholder="City" [(ngModel)]="currentUser.city"/> <input placeholder="State" [(ngModel)]="currentUser.state"/>
    <p>{{currentUser.email}}</p>
    <input placeholder="Email" [(ngModel)]="currentUser.email"/> 
    <br>
    <br>
    <div class="form-group">
     
  </div>
  </div>


<div *ngFor="let user of users">

        <button class="w3-button" (click)="updateUser(user.id)">Update</button>
        
</div>
</html>