<div class="msg-container"
     [ngClass]="{'base-sent': !incoming, 'base-receive': incoming}">

  <!-- <div class="avatar"
       *ngIf="!incoming">
    <img src="{{message.author.avatarSrc}}">
  </div> -->

  <div class="messages"
    [ngClass]="{'msg-sent': !incoming, 'msg-receive': incoming}">
     <p>Hello {{message.text}}</p> <!--REPLACE WITH QUESTION APP FUNCTION -->

    <p class="time">{{message.sender}} • {{message.sentAt | fromNow}}</p>
    <app-date-obj></app-date-obj>
  </div>

  <!-- <div class="avatar"
       *ngIf="incoming">
    <img src="{{message.author.avatarSrc}}">
  </div> -->
</div>

