<!DOCTYPE html>
<html>
<!-- <title>W3.CSS Template</title> -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<body>
    <div class=w3-center>
        <b><h1 class="w3-xxxlarge">Cryptocurrencies</h1></b> 
          <img style="-webkit-user-select: none;background-position: 0px 0px, 0px 0px;background-size: 0px 0px;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);" src="https://d13yacurqjgara.cloudfront.net/users/37530/screenshots/2937858/drib_blink_bot.gif" width="220" height="150">
         </div>
        

            
<!-- Navigation Bar -->
    <!-- <div class="w3-container">-->
        <div class="w3-bar w3-theme">
          <a href="#" class="w3-bar-item w3-button w3-padding-16">Home</a>
          <a routerLink="/user-profile" routerLinkActive="active"class="w3-bar-item w3-button w3-padding-16">User Profile</a>
          <a routerLink="/current-cryptos" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-16">Cryptocurrencies Values</a>
          <a routerLink="/contact" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-16">Contact</a>
          <a routerLink="/chatbot" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-16" onclick="document.getElementById('chatWindow').style.display='block'" >Chatbot</a>
          <a class="w3-bar-item w3-button w3-right" [routerLink]="['/login']">Logout</a>
          <router-outlet></router-outlet>
        </div>

<!-- Header -->
 <div class="welcome">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>Welcome to Cryptocurrencies!!
    </p>

  </div>
<br>
</body>
</html>

<script>console.log(this.id)
console.log(this.firstName)
</script>
